.root {
	-fx-background-color: ivory;
}

.button{
	-fx-cursor: hand;
	-fx-pref-width: 130;
    -fx-background-color:#90EE90;
    -fx-background-radius: 5,5,4;
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-alignment: center;
}
.button:hover{
    -fx-background-color:#64EE64;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-alignment: center;
}
