* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(227, 251, 252);
}

p,
h1,
h2,
h3,
button {
  color: rgb(15, 60, 84);
}

.header {
  /*not in use currently*/
  /*background-color: white;*/
  margin-top: 3vh;
  margin-bottom: 7vh;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Raugi;
  src: url(Raugi/Raugi\ Font.ttf);
}

h1 {
  text-align: center;
}

/*top nav bar*/
li,
a {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 1.2em;
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

ul {
  list-style: none;
  overflow: hidden;
  text-align: center;
}

ul li {
  display: inline-block;
}

ul li a {
  padding: 5px 20px;
  color: #57aad7;
  line-height: 3em;
  display: block;
  transition: color 0.5s;
}

ul li a:hover {
  color: rgb(42, 100, 131);
}

/*scroll-nav-bar*/
#scroll-nav-bar {
  padding: 0;
  background-color: white;
  z-index: 5;
}

#scroll-nav-bar ul {
  margin-top: 2vh;
}

#logo {
  cursor: pointer;
  animation-name: slide-in;
  animation-duration: 0.7s;
  left: 0;
  top: 0;
  position: fixed;
}

@keyframes slide-in {
  from {
    left: -100px;
  }
  to {
    left: 0px;
  }
}

#brand {
  position: fixed;
  right: 2vw;
  top: 5vh;
  font-size: 1.2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(59, 142, 215);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* reagents and products */

.wrapper {
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 10px; /*Optional*/
}

.reagents {
  display: table-cell;
  background-color: #00ff885f;
  padding: 0 20px 20px 20px;
  border: 5px solid rgb(0, 215, 150);
}

.reagents h2,
.products h2 {
  text-align: center;
  margin: 8px;
}

.considerations {
  display: table-cell;
  background-color: rgb(168, 255, 255);
  padding: 0 20px 20px 20px;
  border: 5px solid rgb(120, 198, 196);
}

.considerations-inner {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.stereochemistry {
  border: 4px solid rgb(59, 142, 215);
  background-color: rgb(152, 254, 239);
}

.regiochemistry {
  border: 4px solid rgb(59, 168, 215);
  background-color: rgb(168, 255, 235);
}

.structural {
  border: 4px solid rgb(42, 100, 131);
  background-color: rgb(203, 252, 245);
  grid-column-start: 1;
  grid-column-end: 3;
}

.stereochemistry h3,
.regiochemistry h3,
.structural h3 {
  text-align: center;
  margin: 4px;
}

.stereochemistry li,
.regiochemistry li {
  margin: 7px;
}

.considerations p {
  text-align: center;
  margin: 7px;
  color: rgb(23, 76, 104);
}

.considerations h2 {
  text-align: center;
  margin: 7px;
}

.products {
  display: table-cell;
  background-color: aquamarine;
  padding: 0 20px 20px 20px;
  border: 5px solid rgb(42, 100, 131);
}

button {
  background-color: rgb(180, 242, 233);
  border: 1px solid rgb(120, 198, 196);
  border-radius: 4px;
  padding: 5px 5px;
}

/*.reagents button:hover,
.products button:hover,
#goBtn:hover,
#resetBtn:hover {
  background-color: rgb(221, 255, 246) !important;
  transition: 0.3s;
}*/

:enabled:hover {
  background-color: rgb(221, 255, 246) !important;
  transition: 0.3s;
}

:disabled {
  background-color: rgb(180, 242, 233) !important;
  opacity: 0.5;
  cursor: default;
}

.active {
  background-color: rgb(220, 249, 244);
}

.inactive {
  background-color: rgb(180, 242, 233) !important;
}

.result {
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
}

.result-wrapper {
  margin: auto;
  margin-top: 5vh;
  width: 800px;
  height: 100px;
  box-sizing: border-box;
  border: 4px rgb(42, 131, 122) solid;
}

#result {
  margin-top: 2vh;
}

.about p,
.map p {
  margin: 2vh 2vw 2vh 2vw;
}
